.profileContainer {
  perspective: 1000px;
}

.profileImage {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.profileContainer:hover .profileImage {
  animation: spinHorizontal 0.5s linear;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(720deg);
  }
}

.logo-wrapper {
  @apply inline-block p-6 rounded-xl transition-transform duration-300;
  background-color: #ffffff; /* solid white background */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* subtle shadow */
}
