@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-1.3.0/variable-woff/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Register your custom font family and tell the browser where to find it. */
  @font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMono-1.3.0/variable-woff/GeistMonoVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Berkeley';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/BerkeleyMono/BerkeleyMonoTrial-Regular.ttf') format('TrueType');
  }

  @font-face {
    font-family: 'Space Mono';
    src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root,
  html[data-theme="light"] {
    --color-fill: 255, 255, 255;
    /* Soft White */
    --color-text-base: 12, 12, 12;
    /* Charcoal */
    --color-accent: 52, 152, 219;
    /* Azure Blue */
    --color-card: 236, 240, 241;
    /* Light Grey */
    --color-card-muted: 189, 195, 199;
    /* Muted Grey */
    --color-border: 44, 62, 80;
    /* Dark Slate */
  }

  :root,
  html[data-theme="dark"] {
    --color-fill: 18, 18, 18;
    /* Almost Black */
    --color-text-base: 230, 230, 230;
    /* Light Grey */
    --color-accent: 41, 128, 185;
    /* Deep Azure Blue */
    --color-card: 34, 34, 34;
    /* Dark Grey */
    --color-card-muted: 44, 62, 80;
    /* Muted Dark Slate */
    --color-border: 75, 75, 75;
    /* Mid Grey */
  }

  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }

  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }

  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-mono text-skin-base selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
    font-family: 'Space Mono', 'monospace';
    font-size: 0.75rem;
  }

  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }

  a {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }

  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }

  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre>code {
    white-space: pre;
  }

  section#featured {
    padding-left: 0;

  }
}

@layer components {
  .display-none {
    @apply hidden;
  }

  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }

}

html[data-theme='dark'] {
  .prose {
    --tw-prose-headings: #f9f9f9;
    --tw-prose-body: rgb(225, 225, 225);
    --tw-prose-link: #ff862f;
    --tw-prose-bold: #f9f9f9;
    --tw-prose-counters: var(--tw-prose-body)
  }
}

html {
  .prose {
    font-size: 0.85rem;

  }
}