---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
  noMargin?: boolean;
  lightBorder?: boolean;
}

const {
  noPadding = false,
  ariaHidden = true,
  noMargin = false,
  lightBorder = false,
} = Astro.props;
---

<div
  class={`mx-auto ${noPadding ? "px-0" : "px-6"} ${noMargin ? "mt-0" : "mt-4"} ${lightBorder ? "light-border" : ""}`}
  style="max-width: 1200px;"
>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>

<style>
  .light-border {
    hr {
      --tw-border-opacity: 0.15;
    }
  }
</style>
