---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={`${title} | ${SITE.title}`} description={description}>
  <Header activeNav="resume" />
  <main id="main-content" class="mx-auto w-full px-4 py-8 pb-20">
    <slot />
  </main>
  <Footer />
</Layout>
